.drop-item{
    color:#a2b0b7;
}
.profile_main{
    width:800px;
    height:800px;
    background-color:#f6f6f6;
    position: relative;
    left:15%;
    top:50px;
}
.profile_person{
    position: relative;
    top:40px;
}
.personal_image{
    text-align: center;
}
.avatar img-circle{

}
.person_name{
    position: relative;
    top:15px;
    text-align:center;
    font-family: Arial;
    font-size: 20px;
}
